<%= form_for @equipamento, :html => { :class => "form-horizontal equipamento" } do |f| %>

    <% if @equipamento.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@equipamento.errors.count, "error") %> encontrado(s):</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @equipamento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :tipo_id, "Tipo", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :tipo_id, options_for_select(Tipo.all.collect{ |tipo| [tipo.nome, tipo.id] }, selected: @equipamento.tipo_id), {} , class: "form-control" %> 
    </div>
    <%= error_span(@equipamento[:tipo_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :marca_id, "Marca", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :marca_id, options_for_select(Marca.all.collect{ |marca| [marca.nome, marca.id] }, selected: @equipamento.marca_id), {} , class: "form-control" %> 
    </div>
    <%= error_span(@equipamento[:marca_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :modelo_id, "Modelo", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :modelo_id, options_for_select(Modelo.all.collect{ |modelo| [modelo.nome, modelo.id] }, selected: @equipamento.modelo_id), {} , class: "form-control" %> 
    </div>
    <%= error_span(@equipamento[:modelo_id]) %>
  </div>

  <div class="control-group">
    <%= f.label "Patrimônio", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :patrimonio, :class => 'form-control' %>
    </div>
    <%= error_span(@equipamento[:patrimonio]) %>
  </div>

  <div class="control-group">
    <%= f.label "Número de Série", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :numero_serie, :class => 'form-control' %>
    </div>
    <%= error_span(@equipamento[:numero_serie]) %>
  </div>

  <div class="control-group">
    <%= f.label "Observação", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observacao, :class => 'form-control' %>
    </div>
    <%= error_span(@equipamento[:observacao]) %>
  </div>

    <div class="control-group">
      <%= f.label :local_retirada, "Situação", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :local_retirada, options_for_select(Equipamento.local_retiradas.collect { |s| [s[0].humanize, s[0]] }, selected: @equipamento.local_retirada), {} , class: "form-control" %> 
      </div>
    <%= error_span(@equipamento[:local_retirada]) %>
  </div>

  <br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), equipamentos_path, :class => 'btn btn-default' %>

<% end %>
