<%- model_class = Equipamento -%>

<% if ! @equipamentos.present? then %>

  <center><h3>Nenhum Equipamento Cadastrado. <%= link_to "Cadastre agora", new_equipamento_path %>.</h3></center>

<% else %>

  <%= link_to t('.new', :default => t("helpers.links.new")), new_equipamento_path, :class => 'btn btn-primary' %>
  <hr/>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Patrimônio</th>
      <th>No. Série</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @equipamentos.each do |equipamento| %>
      <tr>
        <td><%= link_to equipamento.id, equipamento_path(equipamento) %></td>
        <td><%= equipamento.patrimonio %></td>
        <td><%= equipamento.numero_serie %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_equipamento_path(equipamento), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      equipamento_path(equipamento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
