<%- model_class = Emprestimo -%>

<% if ! @emprestimos.present? then %>

  <center><h3>Nenhuma Equipamento Reservado/Emprestado. <%= link_to "Reserve Agora", new_emprestimo_path %>.</h3></center>

<% else %>

<%= link_to "Solicitar", new_emprestimo_path, :class => 'btn btn-primary' %>

<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Equipamento</th>
      <th>Usuário</th>
      <th><%= model_class.human_attribute_name(:data_inicio) %></th>
      <th><%= model_class.human_attribute_name(:data_fim) %></th>
      <th><%= model_class.human_attribute_name(:situacao) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= link_to emprestimo.id, emprestimo_path(emprestimo) %></td>
        <td><%= link_to emprestimo.equipamento.marca.nome + " " + emprestimo.equipamento.modelo.nome + " - " + emprestimo.equipamento.patrimonio, emprestimo_path(emprestimo) %></td>
        <td><%= emprestimo.user.nome %></td>
        <td><%= emprestimo.data_inicio %></td>
        <td><%= emprestimo.data_fim %></td>
        <td><%= emprestimo.situacao.humanize %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_emprestimo_path(emprestimo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      emprestimo_path(emprestimo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
