<%- model_class = Marca -%>

<% if ! @marcas.present? then %>

  <center><h3>Nenhum Marca Cadastrado. <%= link_to "Cadastre agora", new_marca_path %>.</h3></center>

<% else %>

  <%= link_to t('.new', :default => t("helpers.links.new")), new_marca_path, :class => 'btn btn-primary' %>
  <hr/>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th> 
      <th>Equipamentos</th> 
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @marcas.each do |marca| %>
      <tr>
        <td><%= link_to marca.id, marca_path(marca) %></td>
        <td><%= link_to marca.nome, marca_path(marca) %></td>
        <td><%= marca.equipamento.count %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_marca_path(marca), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      marca_path(marca),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
